<div class="modal-body">
  <div class="container">
    <div class="modal-header d-flex justify-content-center w-100">
      <h1 class="modal-title display-5 mb-4">{{ title }}</h1>
    </div>

    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <!-- Campo Título -->
      <div class="mb-3">
        <label for="titulo" class="form-label">Título del Proyecto</label>
        <input
          type="text"
          id="titulo"
          formControlName="titulo"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              formGroup.get('titulo')?.invalid &&
              formGroup.get('titulo')?.touched
          }"
        />
        <div
          class="invalid-feedback"
          *ngIf="
            formGroup.get('titulo')?.invalid && formGroup.get('titulo')?.touched
          "
        >
          El título es obligatorio y debe tener menos de 8 caracteres.
        </div>
      </div>

      <!-- Campo Descripción -->
      <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción</label>
        <textarea
          id="descripcion"
          formControlName="descripcion"
          class="form-control"
          rows="3"
          [ngClass]="{
            'is-invalid':
              formGroup.get('descripcion')?.invalid &&
              formGroup.get('descripcion')?.touched
          }"
        ></textarea>
        <div
          class="invalid-feedback"
          *ngIf="
            formGroup.get('descripcion')?.invalid &&
            formGroup.get('descripcion')?.touched
          "
        >
          La descripción es obligatoria.
        </div>
      </div>

      <!-- Campo Estado -->
      <div class="mb-3">
        <label for="estado" class="form-label">Estado</label>
        <select
          id="estado"
          formControlName="estado"
          class="form-select"
          [ngClass]="{
            'is-invalid':
              formGroup.get('estado')?.invalid &&
              formGroup.get('estado')?.touched
          }"
        >
          <option *ngFor="let estado of estados" [value]="estado">
            {{ estado }}
          </option>
        </select>
        <div
          class="invalid-feedback"
          *ngIf="
            formGroup.get('estado')?.invalid && formGroup.get('estado')?.touched
          "
        >
          Selecciona un estado válido.
        </div>
      </div>

      <!-- Campo Líder (Empleado) -->
      <div class="mb-3">
        <label for="leader" class="form-label">Líder del Proyecto</label>
        <select
          id="leader"
          formControlName="leader"
          class="form-select"
          [ngClass]="{
            'is-invalid':
              formGroup.get('leader')?.invalid &&
              formGroup.get('leader')?.touched
          }"
        >
          <option value="" disabled>Seleccione un líder</option>
          <option *ngFor="let emp of user" [value]="emp.firstName">
            {{ emp.firstName }}
          </option>
        </select>
        <div
          class="invalid-feedback"
          *ngIf="
            formGroup.get('leader')?.invalid && formGroup.get('leader')?.touched
          "
        >
          Selecciona un empleado válido.
        </div>
      </div>
    </form>
  </div>
  <br />
  <div class="modal-footer d-flex justify-content-center w-100 mt-3">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">
      Cancelar
    </button>
    <button
    *ngIf="button === true"
    type="button"
    class="btn btn-primary"
    (click)="onSubmit()"
  >
    Crear
  </button>
  <button
    *ngIf="button === false"
    type="button"
    class="btn btn-primary"
    (click)="onSubmitUpdate()"
  >
    Actualizar
  </button>
  </div>
</div>
