<div class="modal-body">
  <div class="container">
    <!-- Modal Header -->
    <div class="modal-header d-flex justify-content-center w-100">
      <h1 class="modal-title display-5 mb-4">{{ title }}</h1>
    </div>
    <form [formGroup]="formGroup">
      <!-- Campo de Cédula -->
      <div class="form-group mb-4">
        <label for="cedula" class="block text-xs font-bold mb-2 text-red-500"
          >Cédula</label
        >
        <input
          type="text"
          id="cedula"
          class="form-control"
          formControlName="cedula"
          placeholder="Cédula"
          maxlength="10"
          inputmode="numeric"
          (keypress)="allowOnlyNumbers($event)"
        />
        <div
          *ngIf="formGroup.get('cedula')?.errors"
          class="text-danger text-sm mt-2"
        >
          <small *ngIf="formGroup.get('cedula')?.hasError('required')">
            La cédula es obligatoria.
          </small>
          <small *ngIf="formGroup.get('cedula')?.hasError('pattern')">
            La cédula solo debe contener números y no más de 10 dígitos.
          </small>
          <small *ngIf="formGroup.get('cedula')?.hasError('maxlength')">
            La cédula no debe exceder los 10 dígitos.
          </small>
        </div>
      </div>

      <!-- Campo de Nombre -->
      <div class="form-group mb-4">
        <label
          for="nombreEmpleado"
          class="block text-xs font-bold mb-2 text-red-500"
          >Nombre</label
        >
        <input
          type="text"
          id="nombreEmpleado"
          class="form-control"
          formControlName="nombreEmpleado"
          placeholder="Nombre"
          maxlength="20"
        />
        <div
          *ngIf="formGroup.get('nombreEmpleado')?.errors"
          class="text-danger text-sm mt-2"
        >
          <small *ngIf="formGroup.get('nombreEmpleado')?.hasError('required')">
            El nombre es obligatorio.
          </small>
          <small *ngIf="formGroup.get('nombreEmpleado')?.hasError('maxlength')">
            El nombre no debe exceder los 20 caracteres.
          </small>
        </div>
      </div>

      <!-- Campo de Apellido -->
      <div class="form-group mb-4">
        <label
          for="apellidoEmpleado"
          class="block text-xs font-bold mb-2 text-red-500"
          >Apellido</label
        >
        <input
          type="text"
          id="apellidoEmpleado"
          class="form-control"
          formControlName="apellidoEmpleado"
          placeholder="Apellido"
          maxlength="20"
        />
        <div
          *ngIf="formGroup.get('apellidoEmpleado')?.errors"
          class="text-danger text-sm mt-2"
        >
          <small
            *ngIf="formGroup.get('apellidoEmpleado')?.hasError('required')"
          >
            El apellido es obligatorio.
          </small>
          <small
            *ngIf="formGroup.get('apellidoEmpleado')?.hasError('maxlength')"
          >
            El apellido no debe exceder los 20 caracteres.
          </small>
        </div>
      </div>

      <!-- Campo de Correo -->
      <div class="form-group mb-4">
        <label
          for="correoEmpleado"
          class="block text-xs font-bold mb-2 text-red-500"
          >Correo</label
        >
        <input
          type="email"
          id="correoEmpleado"
          class="form-control"
          formControlName="correoEmpleado"
          placeholder="Correo electrónico"
        />
        <!-- validacion-->
        <div
          *ngIf="formGroup.get('correoEmpleado')?.hasError('required')"
          class="text-danger text-sm mt-2"
        >
          Este campo es obligatorio
        </div>
        <!-- Validación formato-->
        <div
          *ngIf="
            formGroup.get('correoEmpleado')?.hasError('pattern') &&
            !formGroup.get('correoEmpleado')?.hasError('required')
          "
          class="text-danger text-sm mt-2"
        >
          Debe ser un correo valido
        </div>
      </div>
      <!-- Campo Area  -->
      <div class="mb-3">
        <label for="area" class="form-label">Área</label>
        <select
          id="area"
          formControlName="area"
          class="form-select"
          [ngClass]="{
            'is-invalid':
              formGroup.get('nombre')?.invalid &&
              formGroup.get('area')?.touched
          }"
        >
          <option value="" disabled>Seleccione un Área</option>
          <option *ngFor="let area of area" [value]="area.nombre">
            {{ area.nombre }}
          </option>
        </select>
        <div
          class="invalid-feedback"
          *ngIf="
            formGroup.get('area')?.invalid && formGroup.get('area')?.touched
          "
        >
          Selecciona un área .
        </div>
      </div>

      <div class="modal-footer d-flex justify-content-center w-100 mt-3">
        <!-- Botones de Cancelar / Guardar -->
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          Cancelar
        </button>
        <button
          *ngIf="button === true"
          type="button"
          class="btn btn-primary"
          (click)="onSubmit()"
        >
          Crear
        </button>
        <button
          *ngIf="button === false"
          type="button"
          class="btn btn-primary"
          (click)="onSubmitUpdate()"
        >
          Actualizar
        </button>
      </div>
    </form>
  </div>
</div>
