<div class="projects-container">
  <h1>Proyectos</h1>
  <br />
  <br />
  <!-- Botón para abrir el modal -->
  <button nz-button nzType="primary" nzShape="round" (click)="openModal()">
    Agregar
  </button>

  <hr style="margin: 50px" />

  <!-- Mostrar el mensaje de vacío cuando no hay proyectos -->
  <nz-empty
    *ngIf="proyectos.length === 0"
    [nzNotFoundContent]="null"
  ></nz-empty>

  <!-- Lista de proyectos -->
  <div *ngIf="proyectos.length > 0" class="proyectos-list">
    <div class="row">
      <div class="col-md-4" *ngFor="let proyecto of proyectos">
        <nz-card
        style="border-radius: 5px;"
          [nzTitle]="proyecto.titulo"
          [nzBordered]="true"
          [ngStyle]="{'background-color': proyecto.color}"
        >
          <p><strong>Líder:</strong> {{ proyecto.leader.firstName }}</p>
          <p><strong>Descripción:</strong> {{ proyecto.descripcion }}</p>
          <p><strong>Estado:</strong> {{ proyecto.estado }}</p>
          <button nz-button  class="buton-progreso" (click)="openProgressModal(proyecto)">
            Progreso
          </button>
          <hr>
          <p><strong>Fecha de Creación:</strong> {{ proyecto.createAt | date : "yyyy-MM-dd" }}</p>
          <hr/>
          <div class="d-flex justify-content-center mt-3">
            <button nz-button class="button-actividad" [routerLink]="['/system/actividades']">
              Actividades
            </button>
          </div>
          <hr/>
          <button
            nz-button
            nzType="primary"
            (click)="openModalProyecto(proyecto.id)"
            style="margin-right: 8px"
          >
            Editar
          </button>
          <button nz-button nzType="primary" nzDanger (click)="openModalDeleteUsuario(proyecto)">
            Eliminar
          </button>
        </nz-card>
      </div>
    </div>
  </div>
</div>