<div class="actividades-container">
  <h1>Actividades</h1>
  <br />
  <br />
  <!-- Botón para abrir el modal -->
  <button nz-button nzType="primary" nzShape="round" (click)="openModal()">
    Agregar
  </button>

  <hr style="margin: 50px" />

  <!-- Mostrar el mensaje de vacío cuando no hay proyectos -->
  <nz-empty
    *ngIf="actividad.length === 0"
    nzDescription="No hay proyectos disponibles"
  ></nz-empty>

  <!-- Lista de proyectos -->
  <div *ngIf="actividad.length > 0" class="proyectos-list">
    <div class="row">
      <div class="col-md-4" *ngFor="let actividades of actividad">
        <nz-card
        style="border-radius: 5px;"
          [nzTitle]="actividades.nombreActividad"
          [nzBordered]="true"
          [ngStyle]="{'background-color': actividades.color}"
        >
          <p><strong>Asigando:</strong> {{ actividades.staff.firstName }}</p>
          <p><strong>Descripción:</strong> {{ actividades.descripcion }}</p>
          <p><strong>Estado:</strong> {{ actividades.estado }}</p>
          <button nz-button  class="buton-progreso" (click)="openProgressModalActividad(actividades)">
            Progreso
          </button>
          <hr>
          <p><strong>Fecha de Creación:</strong> {{ actividades.createAt | date : "yyyy-MM-dd" }}</p>
          <p><strong>Tiempo de Entrega:</strong> {{ actividades.tiempoEntrega }}</p>
          <button
            nz-button
            nzType="default"
            (click)="openModalActividad(actividades.id)"
            style="margin-right: 8px"
          >
            Editar
          </button>
          <button nz-button nzType="primary" nzDanger (click)="openModalDeleteUsuario(actividades)"> 
            Eliminar
          </button>
        </nz-card>
      </div>
    </div>
  </div>
</div>