<div class="empleados-container">
  <!-- Título "Empleados" -->
  <div class="col-12">
    <div class="row mb-4">
      <h1
        nz-typography
        nzTitle
        class="text-start mb-5"
        style="font-size: 2.5rem"
      >
        Empleados
      </h1>
    </div>

    <!-- Botón Agregar -->
    <div class="row mb-3 d-flex justify-content-between">
      <div class="col-auto">
        <button
          nz-button
          nzType="primary"
          nzShape="round"
          (click)="openModal()"
        >
          Agregar
        </button>
      </div>
    </div>
    <br />
    <hr />
    <!-- Tabla de Empleados -->
    <nz-table
      #basicTable
      [nzBordered]="true"
      [nzData]="empleados"
      [nzSize]="'middle'"
      [nzFrontPagination]="false"
    >
      <thead>
        <tr>
          <th>ID</th>
          <th>Cédula</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Correo Electrónico</th>
          <th>Área de traajo</th>
          <th>Fecha de Creación</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of empleados; let i = index">
          <td>{{ empleado.id }}</td>
          <td>{{ empleado.cedula }}</td>
          <td>{{ empleado.nombreEmpleado }}</td>
          <td>{{ empleado.apellidoEmpleado }}</td>
          <td>{{ empleado.correoEmpleado }}</td>
          <td>{{ empleado.area.nombre }}</td>
          <td>{{ empleado.createAt | date : "yyyy-MM-dd" }}</td>
          <td>
            <button
              nz-button
              nzType="primary"
              nzShape="circle"
              (click)="abrirModalParaEditar(empleado.id)"
            >
              <i nz-icon nzType="edit"></i>
            </button>
          </td>
          <td>
            <button
              nz-button
              nzDanger
              nzShape="circle"
              (click)="openModalDeleteUsuario(empleado)"
            >
              <i nz-icon nzType="delete"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
