<div class="modal-body">
  <div class="container">
    <div class="modal-header d-flex justify-content-center w-100">
      <h1 class="modal-title display-5 mb-4">{{ title }}</h1>
    </div>

    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <!-- Campo Nombre de Usuario -->
      <div class="mb-3">
        <label for="userName" class="form-label">Nombre de Usuario</label>
        <input
          type="text"
          id="userName"
          formControlName="userName"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              formGroup.get('userName')?.invalid &&
              formGroup.get('userName')?.touched
          }"
        />
        <div
          class="invalid-feedback"
          *ngIf="
            formGroup.get('userName')?.invalid && formGroup.get('userName')?.touched
          "
        >
          El nombre de usuario es obligatorio y debe tener entre 4 y 20 caracteres.
        </div>
      </div>

      <!-- Campo Nombre -->
      <div class="mb-3">
        <label for="firstName" class="form-label">Nombre</label>
        <input
          type="text"
          id="firstName"
          formControlName="firstName"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              formGroup.get('firstName')?.invalid &&
              formGroup.get('firstName')?.touched
          }"
        />
        <div
          class="invalid-feedback"
          *ngIf="
            formGroup.get('firstName')?.invalid && formGroup.get('firstName')?.touched
          "
        >
          El nombre es obligatorio.
        </div>
      </div>

      <!-- Campo Apellido -->
      <div class="mb-3">
        <label for="lastName" class="form-label">Apellido</label>
        <input
          type="text"
          id="lastName"
          formControlName="lastName"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              formGroup.get('lastName')?.invalid &&
              formGroup.get('lastName')?.touched
          }"
        />
        <div
          class="invalid-feedback"
          *ngIf="
            formGroup.get('lastName')?.invalid && formGroup.get('lastName')?.touched
          "
        >
          El apellido es obligatorio.
        </div>
      </div>

      <!-- Campo Contraseña (solo al crear) -->
      <div class="mb-3" *ngIf="button">
        <label for="password" class="form-label">Contraseña</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              formGroup.get('password')?.invalid &&
              formGroup.get('password')?.touched
          }"
        />
        <div
          class="invalid-feedback"
          *ngIf="
            formGroup.get('password')?.invalid && formGroup.get('password')?.touched
          "
        >
          La contraseña es obligatoria y debe tener al menos 8 caracteres.
        </div>
      </div>

      <!-- Campo Rol -->
      <div class="mb-3">
        <label for="role" class="form-label">Rol</label>
        <select
          id="role"
          formControlName="role"
          class="form-select"
          [ngClass]="{
            'is-invalid':
              formGroup.get('role')?.invalid &&
              formGroup.get('role')?.touched
          }"
        >
          <option *ngFor="let roleKey of getRoleKeys()" [value]="roles[roleKey]">
            {{ roles[roleKey] }}
          </option>
        </select>
        <div
          class="invalid-feedback"
          *ngIf="
            formGroup.get('role')?.invalid && formGroup.get('role')?.touched
          "
        >
          Selecciona un rol válido.
        </div>
      </div>
    </form>
  </div>
  <br />
  <div class="modal-footer d-flex justify-content-center w-100 mt-3">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">
      Cancelar
    </button>
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="formGroup.invalid"
      (click)="!currentUser.id ? onSubmit() : onSubmitUpdate()"
    >
      {{ currentUser.id ? "Actualizar Usuario" : "Crear Usuario" }}
    </button>
  </div>
</div>