<nz-layout class="not-found-container">
  <nz-content class="not-found-content">
    <div class="not-found-message">
      <img src="assets/error-404-not.png" alt="Error 404" class="not-found-image" />
      <h1 class="not-found-title">Página no encontrada</h1>
      <p class="not-found-description">Lo sentimos, la página que buscas no existe.</p>
      <a nz-button [routerLink]="'/system/dashboard'" class="go-home-button">
        <nz-icon nzType="home" nzTheme="outline"></nz-icon>
        Volver al inicio
      </a>
    </div>
  </nz-content>
</nz-layout>
