<div class="dashboard-content" style="margin-top: 40px;">
  <h1 nz-typography>Bienvenido usuario <span class="username" style="font-size: 2rem;">ADMIN</span></h1>
  <br>
  <div class="activities" style="display: flex; gap: 20px; margin-top: 30px;">
    <div class="activity-card" nz-card style="width: 300px; font-size: 1.5rem;">
      <h2 nz-typography>Actividades terminadas</h2>
      <span class="activity-count" style="font-size: 2rem;">3</span>
    </div>
    
    <div class="activity-card" nz-card style="width: 300px; font-size: 1.5rem;">
      <h2 nz-typography>Actividades por realizar</h2>
      <span class="activity-count" style="font-size: 2rem;">2</span>
    </div>
  </div>
</div>

