<div class="dashboard-container">
  <div class="dashboard-content mt-4">
    <h1 nz-typography>
      <span class="username" style="font-size: 5rem">Bienvenido</span>
    </h1>
    <br />
    <br />
    <div class="charts row justify-content-center mt-4">
      <div class="chart-card col-12 col-md-6 mb-4" nz-card style="font-size: 1.5rem">
        <h2 nz-typography>Proyectos Creados por Mes</h2>
        <canvas id="proyectosChart"></canvas>
      </div>
  
      <div class="chart-card col-12 col-md-6 mb-4" nz-card style="font-size: 1.5rem">
        <h2 nz-typography>Actividades Creadas por Mes</h2>
        <canvas id="actividadesChart"></canvas>
      </div>
    </div>
  </div>
</div>
